@viewport{height:device-height}
@viewport{width:device-width}
@-ms-viewport{height:device-height}
@-ms-viewport{width:device-width}
/* Swipe works with mouse as well but often causes text selection. */
/* We'll deny text selecton on everything but INPUTs and TEXTAREAs. */
body, head {
	font-family: "Tahoma";
	margin: 0;
	padding: 0;
}

#demo-page :not(INPUT):not(TEXTAREA) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/* Content styling. */
dl { font-family: "Times New Roman", Times, serif; padding: 1em; }
dt { font-size: 2em; font-weight: bold; }
dt span { font-size: .5em; color: #777; margin-left: .5em; }
dd { font-size: 1.25em; margin: 1em 0 0; padding-bottom: 1em; border-bottom: 1px solid #eee; }
.back-btn { float: right; margin: 0 2em 1em 0; }

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.blink {
	display: none;
}

#map_canvas {
	display: block;
}

.ui-panel-page-content-position-right.ui-panel-page-content-display-push {
	margin-right: 0!important;
}

.ui-panel-display-reveal-right {
  -webkit-box-shadow: 4px 5px 10px 3px rgba(0,0,0,.15);
  -moz-box-shadow: 4px 5px 10px 3px rgba(0,0,0,.15);
  box-shadow: 4px 5px 10px 3px rgba(0,0,0,.15);
}

.ui-panel-display-reveal-left {
  -webkit-box-shadow: -3px 5px 10px 3px rgba(0,0,0,.15);
  -moz-box-shadow: -3px 5px 10px 3px rgba(0,0,0,.15);
  box-shadow: -3px 5px 10px 3px rgba(0,0,0,.15);
  z-index: 999999;
}

.clear {
	clear: both;
}

div.ui-content {
	padding: 0!important;
}

h1.cabecalho {
	margin: 0px;
	background: #0099FF;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 1%;
	width: 99%;
	color: #fff;
	font-size: 14px;
	text-align: left;
}

h1.cabecalho .botoes {
	float: right;
	margin-right: 10px;
}

.ui-slider {
	float: left;
	margin-left: 4px !important;
}

#parametros .titulo {
	font-size: 16px;
	text-align: left;
	color: #666;
	border-bottom: #f2f2f2 1px solid;
	width: 100%;
	padding: 0px 0px 10px 4px;
}

#parametros .item {
	font-size: 14px;
	padding-top:3px;
	text-align: left;
	color: #666;
	float: left;
	margin-left: 5px;
}

h1.cabecalho .botoes a {
	float: left;
	margin-right: 20px;
}

div.ui-panel-inner {
	padding: 0;
}

ul.lista {
	list-style: none;
	width: 100%;
	padding: 0px;
	margin: 0;
	overflow-y:auto;
	height: auto;
}

ul.lista li {
	padding: 10px 5px 10px 5px !important;
	border-bottom: #f2f2f2 solid 1px;
	font-size: 16px !important;
	color: #666;
}

ul.lista li p.nome {
	font-size: 16px !important;
	color: #666;
}

ul.lista li p.descricao {
	font-size: 12px;
	color: #999;
}

.interacao  {
	color: #FF6600 !important;
}
 
.event {
	border-radius:4px;
	-webkit-border-radius:4px;
	color:#FFFFFF;
	font-size:12px;
	margin:0px 30px;
	padding:2px 0px;
}
 
.event.listening {
	background-color:#333333;
	display:block;
}
 
.event.received {
	background-color:#4B946A;
	display:none;
}
 
@keyframes fade {
	from { opacity: 1.0; }
	50% { opacity: 0.4; }
	to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
	from { opacity: 1.0; }
	50% { opacity: 0.4; }
	to { opacity: 1.0; }
}
 
.blink {
	animation:fade 3000ms infinite;
	-webkit-animation:fade 3000ms infinite;
}

a.audio {
	display: block;
	width: 18px;
	height: 14px;
	margin-top: 2px;
}

a.audio:active {
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

div.audio.ativo {
	width: 18px;
	height: 14px;
	background: url('../images/ativo.png') no-repeat;
}

div.audio.inativo  {
	width: 18px;
	height: 14px;
	background: url('../images/inativo.png') no-repeat;
}

a.configuracoes {
	display: block;
	width: 18px;
	height: 18px;
}

a.configuracoes:active {
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

div.configuracoes {
	width: 18px;
	height: 18px;
	background: url('../images/configuracoes.png') no-repeat;
}